
.Container-bg{

  background-size:cover;
  background-position: center;
  /* background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg"); */
  background-image: url("https://images.pexels.com/photos/1486974/pexels-photo-1486974.jpeg");
}
